package markdown

templ SourceDocumentView(doc SourceDocument) {
	<section class="source-document-content h-full min-h-full w-full bg-muted/20 not-prose" data-section-id="document" data-heading-hint="Document">
		<div class="source-code-block h-full min-h-full overflow-x-auto text-sm [&_.chroma]:h-full [&_.chroma]:min-h-full [&_.chroma]:bg-transparent [&_.cl]:pl-4 [&_.line]:block [&_.ln]:inline-block [&_.ln]:w-12 [&_.ln]:select-none [&_.ln]:border-r [&_.ln]:border-border [&_.ln]:pr-3 [&_.ln]:text-right [&_.ln]:font-mono [&_.ln]:text-xs [&_.ln]:text-muted-foreground [&_.lnlinks]:outline-none [&_.lnlinks]:no-underline [&_.lnlinks]:text-inherit [&_code]:block [&_pre]:m-0 [&_pre]:h-full [&_pre]:min-h-full [&_pre]:px-0 [&_pre]:py-4 [&_pre]:font-mono [&_pre]:leading-6 [&_pre]:whitespace-pre">
			@templ.Raw(doc.HTML)
		</div>
	</section>
}
